@model Search_Weather.Models.User

@{
  ViewBag.Title = "Register";
  ViewBag.Active = "active";
}

<div class="row justify-content-md-center register">
  <div class="col-12 mt-5">
    <h2>Register</h2>
    <hr />
  </div>
  <div class="col-12 col-md-12 align-items-center results-page">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
      //@Html.ValidationSummary()
      @Html.AntiForgeryToken()

    <div class="form-group">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
      @if (ViewBag.error != null)
      {
        <span class="badge badge-danger">@ViewBag.error</span>
      }
    </div>
        <div class="form-group">
          @Html.LabelFor(m => m.Password)
          @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
          @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
        </div>
        <div class="form-group">
          <input type="submit" name="submit" class="btn btn-primary" value="Register" />
          <a href="@Url.Action("Login","Account")" class="btn btn-secondary mx-4">Login</a>
        </div>

    }
  </div>
</div>

